<div class="hero-unit" ng-controller="MainCtrl">
    <h1>Main controller</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in MainCtrl.credentials">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>

<div class="hero-unit" ng-controller="AccountCtrl">
    <h1>Account controller</h1>
    <p>You now have</p>
    <ul>
        <li ng-repeat="thing in AccountCtrl.credentials">{{thing}}</li>
    </ul>
    <p>installed.</p>
    <h3>Enjoy coding! - Yeoman</h3>
</div>